@import url("//fonts.googleapis.com/css?family=Podkova:400,700");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
/* RESET */
#webkite-results.beer-menu-landscape {
  /* HTML5 display-role reset for older browsers */ }
  #webkite-results.beer-menu-landscape div, #webkite-results.beer-menu-landscape span, #webkite-results.beer-menu-landscape applet, #webkite-results.beer-menu-landscape object, #webkite-results.beer-menu-landscape iframe, #webkite-results.beer-menu-landscape h1, #webkite-results.beer-menu-landscape h2, #webkite-results.beer-menu-landscape h3, #webkite-results.beer-menu-landscape h4, #webkite-results.beer-menu-landscape h5, #webkite-results.beer-menu-landscape h6, #webkite-results.beer-menu-landscape p, #webkite-results.beer-menu-landscape blockquote, #webkite-results.beer-menu-landscape pre, #webkite-results.beer-menu-landscape a, #webkite-results.beer-menu-landscape abbr, #webkite-results.beer-menu-landscape acronym, #webkite-results.beer-menu-landscape address, #webkite-results.beer-menu-landscape big, #webkite-results.beer-menu-landscape cite, #webkite-results.beer-menu-landscape code, #webkite-results.beer-menu-landscape del, #webkite-results.beer-menu-landscape dfn, #webkite-results.beer-menu-landscape em, #webkite-results.beer-menu-landscape img, #webkite-results.beer-menu-landscape ins, #webkite-results.beer-menu-landscape kbd, #webkite-results.beer-menu-landscape q, #webkite-results.beer-menu-landscape s, #webkite-results.beer-menu-landscape samp, #webkite-results.beer-menu-landscape small, #webkite-results.beer-menu-landscape strike, #webkite-results.beer-menu-landscape strong, #webkite-results.beer-menu-landscape sub, #webkite-results.beer-menu-landscape sup, #webkite-results.beer-menu-landscape tt, #webkite-results.beer-menu-landscape var, #webkite-results.beer-menu-landscape b, #webkite-results.beer-menu-landscape u, #webkite-results.beer-menu-landscape i, #webkite-results.beer-menu-landscape center, #webkite-results.beer-menu-landscape dl, #webkite-results.beer-menu-landscape dt, #webkite-results.beer-menu-landscape dd, #webkite-results.beer-menu-landscape ol, #webkite-results.beer-menu-landscape ul, #webkite-results.beer-menu-landscape li, #webkite-results.beer-menu-landscape fieldset, #webkite-results.beer-menu-landscape form, #webkite-results.beer-menu-landscape label, #webkite-results.beer-menu-landscape legend, #webkite-results.beer-menu-landscape table, #webkite-results.beer-menu-landscape caption, #webkite-results.beer-menu-landscape tbody, #webkite-results.beer-menu-landscape tfoot, #webkite-results.beer-menu-landscape thead, #webkite-results.beer-menu-landscape tr, #webkite-results.beer-menu-landscape th, #webkite-results.beer-menu-landscape td, #webkite-results.beer-menu-landscape article, #webkite-results.beer-menu-landscape aside, #webkite-results.beer-menu-landscape canvas, #webkite-results.beer-menu-landscape details, #webkite-results.beer-menu-landscape embed, #webkite-results.beer-menu-landscape figure, #webkite-results.beer-menu-landscape figcaption, #webkite-results.beer-menu-landscape footer, #webkite-results.beer-menu-landscape header, #webkite-results.beer-menu-landscape hgroup, #webkite-results.beer-menu-landscape menu, #webkite-results.beer-menu-landscape nav, #webkite-results.beer-menu-landscape output, #webkite-results.beer-menu-landscape ruby, #webkite-results.beer-menu-landscape section, #webkite-results.beer-menu-landscape summary, #webkite-results.beer-menu-landscape time, #webkite-results.beer-menu-landscape mark, #webkite-results.beer-menu-landscape audio, #webkite-results.beer-menu-landscape video {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    word-wrap: normal;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-transform: none;
    vertical-align: baseline;
    text-rendering: auto;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: all 0 none;
    transition: none; }
  #webkite-results.beer-menu-landscape button, #webkite-results.beer-menu-landscape select, #webkite-results.beer-menu-landscape input {
    text-transform: none; }
    #webkite-results.beer-menu-landscape button:active, #webkite-results.beer-menu-landscape select:active, #webkite-results.beer-menu-landscape input:active {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  #webkite-results.beer-menu-landscape button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  #webkite-results.beer-menu-landscape article, #webkite-results.beer-menu-landscape aside, #webkite-results.beer-menu-landscape details, #webkite-results.beer-menu-landscape figcaption, #webkite-results.beer-menu-landscape figure, #webkite-results.beer-menu-landscape footer, #webkite-results.beer-menu-landscape header, #webkite-results.beer-menu-landscape hgroup, #webkite-results.beer-menu-landscape menu, #webkite-results.beer-menu-landscape nav, #webkite-results.beer-menu-landscape section {
    display: block; }
  #webkite-results.beer-menu-landscape body {
    line-height: 1; }
  #webkite-results.beer-menu-landscape ol, #webkite-results.beer-menu-landscape ul, #webkite-results.beer-menu-landscape ul li {
    list-style: none; }
  #webkite-results.beer-menu-landscape blockquote, #webkite-results.beer-menu-landscape q {
    quotes: none; }
  #webkite-results.beer-menu-landscape blockquote:before, #webkite-results.beer-menu-landscape blockquote:after {
    content: '';
    content: none; }
  #webkite-results.beer-menu-landscape q:before, #webkite-results.beer-menu-landscape q:after {
    content: '';
    content: none; }
  #webkite-results.beer-menu-landscape table {
    border-collapse: collapse;
    border-spacing: 0; }

/****************************************** BEGIN STYLES */
#webkite-results.beer-menu-landscape {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0.625em;
  -moz-border-radius: 0.625em;
  -ms-border-radius: 0.625em;
  -o-border-radius: 0.625em;
  border-radius: 0.625em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 43.75em;
  margin: 0 auto;
  padding: 20px;
  font-family: "Open Sans";
  font-size: 16px;
  font: 400 16px/normal "Open Sans"; }
  #webkite-results.beer-menu-landscape a {
    color: #1b9cd2;
    text-decoration: none; }
    #webkite-results.beer-menu-landscape a:hover {
      color: #0073a7; }
  #webkite-results.beer-menu-landscape.webkite-fade-out img {
    opacity: 0.5; }

/* TYPOGRAPHY */
#webkite-results.beer-menu-landscape h1, #webkite-results.beer-menu-landscape h2, #webkite-results.beer-menu-landscape h3, #webkite-results.beer-menu-landscape h4 {
  margin: 0; }
#webkite-results.beer-menu-landscape h2 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  display: inline-block;
  font: 700 1.15em/1 "Podkova";
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px; }
#webkite-results.beer-menu-landscape h3 {
  font: 400 normal .875em/1 "Podkova";
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px; }
#webkite-results.beer-menu-landscape p, #webkite-results.beer-menu-landscape li {
  color: rgba(0, 0, 0, 0.6); }

/******************************************** NAVIGATIONALS */
#webkite-results.beer-menu-landscape .webkite-results-header, #webkite-results.beer-menu-landscape .webkite-results-footer {
  text-align: justify;
  position: relative; }
  #webkite-results.beer-menu-landscape .webkite-results-header .webkite-sort-area, #webkite-results.beer-menu-landscape .webkite-results-header .webkite-filter-area, #webkite-results.beer-menu-landscape .webkite-results-footer .webkite-sort-area, #webkite-results.beer-menu-landscape .webkite-results-footer .webkite-filter-area {
    display: inline-block;
    vertical-align: top; }
  #webkite-results.beer-menu-landscape .webkite-results-header .webkite-branding-area, #webkite-results.beer-menu-landscape .webkite-results-footer .webkite-branding-area {
    width: 102px;
    margin-right: -102px;
    display: inline-block;
    position: relative; }
  #webkite-results.beer-menu-landscape .webkite-results-header .webkite-branding-area a, #webkite-results.beer-menu-landscape .webkite-results-footer .webkite-branding-area a {
    background: url("branding-light.svg") center top no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 34px;
    width: 102px; }
#webkite-results.beer-menu-landscape .webkite-results-header {
  line-height: 1;
  margin-bottom: 20px; }
  #webkite-results.beer-menu-landscape .webkite-results-header::after {
    content: '';
    clear: both;
    display: table; }
#webkite-results.beer-menu-landscape .webkite-results-footer {
  font-size: 14px; }

/************************************** DATASET NAME & EMBED */
#webkite-results.beer-menu-landscape .webkite-dataset-name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-weight: bold;
  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 1.1em;
  margin: -0.15em 0 15px;
  padding: 0; }
  #webkite-results.beer-menu-landscape .webkite-dataset-name + .webkite-embed-wrapper {
    margin: -13px 0 5px; }
#webkite-results.beer-menu-landscape .webkite-embed-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  line-height: 19px;
  margin: -15px 0 5px;
  padding: 10px 0;
  height: 39px;
  position: relative;
  overflow: hidden; }
#webkite-results.beer-menu-landscape #webkite-embedder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 19px;
  padding: 10px 0;
  height: 39px;
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  z-index: 1; }
#webkite-results.beer-menu-landscape .webkite-embed-input {
  padding: 0 20px 0 70px; }
  #webkite-results.beer-menu-landscape .webkite-embed-input input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #777;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin: 0;
    outline: none;
    font-size: 10px;
    position: relative;
    width: 100%;
    top: -1px; }
#webkite-results.beer-menu-landscape .webkite-embed-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  padding: 10px 10px 10px 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
#webkite-results.beer-menu-landscape .webkite-embed-hide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  padding: 10px 0 10px 10px;
  text-indent: -99999px;
  background: url('select-close.png') no-repeat right center; }

/************************************** SORTS AND FILTERS */
#webkite-results.beer-menu-landscape {
  /* sorts */
  /* filters */
  /* tokens */
  /* clear everything */ }
  #webkite-results.beer-menu-landscape .webkite-sort-area > .webkite-toggle, #webkite-results.beer-menu-landscape .webkite-primary-filter-menu > .webkite-toggle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    outline: none;
    display: block;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font: 700 14px/1.3 'Open Sans', 'Arial', sans-serif;
    text-align: left;
    margin: 0;
    padding: 3px 18px 3px 0;
    height: 28px;
    width: 80px;
    white-space: nowrap; }
    #webkite-results.beer-menu-landscape .webkite-sort-area > .webkite-toggle > span, #webkite-results.beer-menu-landscape .webkite-primary-filter-menu > .webkite-toggle > span {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 8px;
      width: 100%; }
  #webkite-results.beer-menu-landscape .webkite-sort-area {
    position: relative;
    z-index: 3; }
  #webkite-results.beer-menu-landscape .webkite-sort-area > .webkite-toggle i {
    background: url("angle-light.png") center center no-repeat;
    height: 10px;
    pointer-events: none;
    width: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 8px; }
  #webkite-results.beer-menu-landscape .webkite-filter-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative; }
  #webkite-results.beer-menu-landscape .webkite-sort-area + .webkite-filter-area {
    padding-left: 90px;
    margin-left: -80px; }
  #webkite-results.beer-menu-landscape .webkite-applied-filters {
    position: relative; }
  #webkite-results.beer-menu-landscape .webkite-primary-filter-menu {
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: top;
    z-index: 2; }
  #webkite-results.beer-menu-landscape .webkite-primary-filter-menu > .webkite-toggle {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  #webkite-results.beer-menu-landscape .webkite-primary-filter-menu > .webkite-toggle i {
    background: url("plus-light.png") no-repeat;
    height: 12px;
    width: 12px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 6px; }
  #webkite-results.beer-menu-landscape .current-filters {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    display: block;
    height: 28px;
    padding: 5px 25px 5px 0px;
    margin-left: 80px;
    position: relative;
    text-align: left;
    vertical-align: top;
    /* and & or */ }
    #webkite-results.beer-menu-landscape .current-filters span {
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      line-height: 1.2em;
      padding: 0 0.41667em 0 0;
      vertical-align: top; }
  #webkite-results.beer-menu-landscape .filter-token-wrapper {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; }
    #webkite-results.beer-menu-landscape .filter-token-wrapper > span:first-child {
      padding-left: 0.41667em; }
  #webkite-results.beer-menu-landscape a.webkite-remove-filter {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    line-height: 1;
    max-width: 100px;
    padding: 0.0625em 0.3125em;
    text-align: left;
    word-wrap: normal;
    margin-right: 0.41667em; }
    #webkite-results.beer-menu-landscape a.webkite-remove-filter:hover {
      text-decoration: line-through; }
  #webkite-results.beer-menu-landscape [class^="filter-group"] {
    display: inline-block; }
  #webkite-results.beer-menu-landscape .filter-group-0 a.webkite-remove-filter {
    background: #1b9cd2; }
  #webkite-results.beer-menu-landscape .filter-group-1 a.webkite-remove-filter {
    background: #39a17c; }
  #webkite-results.beer-menu-landscape .filter-group-2 a.webkite-remove-filter {
    background: #a8936f; }
  #webkite-results.beer-menu-landscape .filter-group-3 a.webkite-remove-filter {
    background: #e6af52; }
  #webkite-results.beer-menu-landscape .filter-group-4 a.webkite-remove-filter {
    background: #6f7ca8; }
  #webkite-results.beer-menu-landscape a.webkite-clear-filters {
    background: url("clear-all-icon.png") center top no-repeat;
    height: 18px;
    width: 18px;
    position: absolute;
    right: 4px;
    top: 4px; }
    #webkite-results.beer-menu-landscape a.webkite-clear-filters:active {
      background-position: 0 -18px; }

/**************************************** SORT/FILTER MENU */
#webkite-results.beer-menu-landscape {
  /* directional arrow */
  /* filter arrow */
  /* filter submenu*/ }
  #webkite-results.beer-menu-landscape .sort-menu, #webkite-results.beer-menu-landscape .filter-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    background: white;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    z-index: 4;
    top: 10px;
    left: 10px; }
  #webkite-results.beer-menu-landscape .sort-menu li, #webkite-results.beer-menu-landscape .filter-menu li {
    list-style-type: none;
    position: relative;
    padding-bottom: 0; }
  #webkite-results.beer-menu-landscape .sort-menu li a, #webkite-results.beer-menu-landscape .filter-menu li .webkite-link, #webkite-results.beer-menu-landscape .filter-menu li a {
    color: #1b9cd2;
    display: block;
    padding: 2px 10px;
    white-space: pre; }
    #webkite-results.beer-menu-landscape .sort-menu li a:hover, #webkite-results.beer-menu-landscape .filter-menu li .webkite-link:hover, #webkite-results.beer-menu-landscape .filter-menu li a:hover {
      background: #1b9cd2;
      color: white; }
  #webkite-results.beer-menu-landscape .sort-menu li.active a {
    position: relative;
    padding-right: 30px; }
    #webkite-results.beer-menu-landscape .sort-menu li.active a.asc::after, #webkite-results.beer-menu-landscape .sort-menu li.active a.desc::after {
      background: url("sort-direction.png") no-repeat;
      content: "";
      display: block;
      height: 5px;
      width: 10px;
      position: absolute;
      top: 8px;
      right: 10px; }
    #webkite-results.beer-menu-landscape .sort-menu li.active a.asc::after {
      background-position: 0 0; }
    #webkite-results.beer-menu-landscape .sort-menu li.active a.desc::after {
      background-position: 0 -5px; }
  #webkite-results.beer-menu-landscape .filter-menu > li > .webkite-link {
    color: #1b9cd2;
    cursor: pointer;
    padding-right: 20px;
    position: relative; }
    #webkite-results.beer-menu-landscape .filter-menu > li > .webkite-link::after {
      color: rgba(0, 0, 0, 0.6);
      content: "\203A";
      opacity: 0.5;
      position: absolute;
      right: 6.66667px; }
  #webkite-results.beer-menu-landscape .filter-menu-child {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    left: 100%;
    top: -10px;
    margin: 0; }
  #webkite-results.beer-menu-landscape .filter-menu li:hover .filter-menu-child {
    display: block; }

/******************************* FILTER OVERVIEW AND SHADE */
#webkite-results.beer-menu-landscape .filter-token-wrapper.webkite-truncated:before {
  content: "";
  background: url("gradient-fallback-light.png") repeat-y;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(5%, rgba(0, 0, 0, 0.3)), color-stop(25%, rgba(0, 0, 0, 0.15)), color-stop(75%, rgba(0, 0, 0, 0.02)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 );
  height: auto;
  width: 1.5em;
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px; }
#webkite-results.beer-menu-landscape .all-current-filters {
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  -ms-border-radius: 0 3px 3px 3px;
  -o-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 19px;
  padding: 5px 25px 2px 5px;
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  z-index: 3; }
  #webkite-results.beer-menu-landscape .all-current-filters .all-filters-wrapper {
    white-space: normal; }
    #webkite-results.beer-menu-landscape .all-current-filters .all-filters-wrapper > span:first-child {
      padding-left: 0; }
    #webkite-results.beer-menu-landscape .all-current-filters .all-filters-wrapper [class^="filter-group"] {
      display: inline; }

/********************************************* PAGINATION */
#webkite-results.beer-menu-landscape {
  /* page input */
  /* remove arrows */ }
  #webkite-results.beer-menu-landscape .webkite-pagination-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 400 14px/0 'Open Sans', 'Arial', sans-serif;
    padding-left: 122px;
    width: 100%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    line-height: 34px; }
    #webkite-results.beer-menu-landscape .webkite-pagination-area:empty {
      display: none; }
  #webkite-results.beer-menu-landscape .webkite-results-paginator {
    font-size: 14px; }
    #webkite-results.beer-menu-landscape .webkite-results-paginator a, #webkite-results.beer-menu-landscape .webkite-results-paginator p {
      display: inline; }
    #webkite-results.beer-menu-landscape .webkite-results-paginator em {
      font-style: italic; }
    #webkite-results.beer-menu-landscape .webkite-results-paginator a {
      font-size: 1.2em;
      line-height: 0; }
  #webkite-results.beer-menu-landscape .first-result-page, #webkite-results.beer-menu-landscape .previous-result-page {
    padding-right: 10px; }
    #webkite-results.beer-menu-landscape .first-result-page.disabled, #webkite-results.beer-menu-landscape .previous-result-page.disabled {
      color: rgba(0, 0, 0, 0.6); }
      #webkite-results.beer-menu-landscape .first-result-page.disabled:hover, #webkite-results.beer-menu-landscape .previous-result-page.disabled:hover {
        color: rgba(0, 0, 0, 0.6);
        cursor: default; }
  #webkite-results.beer-menu-landscape .next-result-page, #webkite-results.beer-menu-landscape .last-result-page {
    padding-left: 10px; }
    #webkite-results.beer-menu-landscape .next-result-page.disabled, #webkite-results.beer-menu-landscape .last-result-page.disabled {
      color: rgba(0, 0, 0, 0.6); }
      #webkite-results.beer-menu-landscape .next-result-page.disabled:hover, #webkite-results.beer-menu-landscape .last-result-page.disabled:hover {
        color: rgba(0, 0, 0, 0.6);
        cursor: default; }
  #webkite-results.beer-menu-landscape input.webkite-page-input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 5px;
    -moz-appearance: textfield;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: content-box;
    margin: 0;
    max-width: 1.5em;
    font-size: 0.9em;
    line-height: 16px;
    text-align: center; }
  #webkite-results.beer-menu-landscape .webkite-page-input::-webkit-outer-spin-button, #webkite-results.beer-menu-landscape .webkite-page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #webkite-results.beer-menu-landscape input[type=number] {
    -moz-appearance: textfield; }

/************************************** ELEMENT QUERIES */
#webkite-results.xs.beer-menu-landscape .webkite-branding-area, #webkite-results.xs.beer-menu-landscape .webkite-pagination-area {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center; }
#webkite-results.xs.beer-menu-landscape .webkite-filter-area, #webkite-results.xs.beer-menu-landscape .webkite-sort-area, #webkite-results.xs.beer-menu-landscape .webkite-sort-area > .webkite-toggle {
  width: 100%; }
#webkite-results.xs.beer-menu-landscape .sort-menu {
  width: 95%; }
#webkite-results.xs.beer-menu-landscape .webkite-sort-area + .webkite-filter-area {
  margin-top: 20px; }
#webkite-results.xs.beer-menu-landscape .webkite-filter-area, #webkite-results.xs.beer-menu-landscape .webkite-sort-area + .webkite-filter-area {
  margin-left: 0;
  padding-left: 0; }
#webkite-results.xs.beer-menu-landscape .webkite-branding-area + .webkite-pagination-area {
  margin-top: 20px; }
#webkite-results.xs.beer-menu-landscape .webkite-dataset-name {
  text-align: center;
  font-size: 20px; }
#webkite-results.xs.beer-menu-landscape .webkite-embed-wrapper .webkite-embed-show {
  display: block;
  text-align: center; }

#webkite-results.sm.beer-menu-landscape .webkite-filter-area, #webkite-results.sm.beer-menu-landscape .webkite-sort-area, #webkite-results.sm.beer-menu-landscape .webkite-sort-area > .webkite-toggle {
  width: 100%; }
#webkite-results.sm.beer-menu-landscape .sort-menu {
  width: 95%; }
#webkite-results.sm.beer-menu-landscape .webkite-sort-area + .webkite-filter-area {
  margin-top: 20px; }
#webkite-results.sm.beer-menu-landscape .webkite-filter-area, #webkite-results.sm.beer-menu-landscape .webkite-sort-area + .webkite-filter-area {
  margin-left: 0;
  padding-left: 0; }

/********************************************** BLOCKS */
#webkite-results.beer-menu-landscape .webkite-block {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #webkite-results.beer-menu-landscape .webkite-block:first-child {
    padding-right: 20px; }
  #webkite-results.beer-menu-landscape .webkite-block ul {
    margin: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0; }
    #webkite-results.beer-menu-landscape .webkite-block ul li {
      list-style-type: none;
      text-align: justify;
      padding-bottom: 10px; }
      #webkite-results.beer-menu-landscape .webkite-block ul li b {
        display: inline-block;
        text-align: left;
        width: 100%;
        font-weight: 700; }
      #webkite-results.beer-menu-landscape .webkite-block ul li span.facet-values {
        display: inline-block;
        text-align: left;
        width: 100%;
        font-weight: 400; }
      #webkite-results.beer-menu-landscape .webkite-block ul li .facet-values {
        font: 400 normal 1em/1 "Podkova"; }
#webkite-results.beer-menu-landscape .webkite-block.sixty {
  width: 64%; }
#webkite-results.beer-menu-landscape .webkite-block.forty {
  width: 34%; }

/************************************ LANDSCAPE RESULTS */
#webkite-results.beer-menu-landscape ul.beer-info {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  text-align: left; }
  #webkite-results.beer-menu-landscape ul.beer-info li {
    font-size: 0.875em;
    text-align: left;
    clear: both; }
  #webkite-results.beer-menu-landscape ul.beer-info .beer-price, #webkite-results.beer-menu-landscape ul.beer-info .abv {
    font: 700 1em/1 "Podkova";
    color: rgba(0, 0, 0, 0.6);
    text-align: right; }
  #webkite-results.beer-menu-landscape ul.beer-info .beer-price {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 3px;
    margin-bottom: -3px;
    max-width: 100%; }
  #webkite-results.beer-menu-landscape ul.beer-info .abv-per {
    font: 400 1em/1 "Open Sans"; }
#webkite-results.beer-menu-landscape .image-wrapper {
  -webkit-border-radius: 0.188em;
  -moz-border-radius: 0.188em;
  -ms-border-radius: 0.188em;
  -o-border-radius: 0.188em;
  border-radius: 0.188em;
  background-position: center center;
  background-size: cover;
  float: right;
  padding-bottom: 27%;
  width: 27%; }
#webkite-results.beer-menu-landscape .image-wrapper + .beer-info {
  width: 70%; }
#webkite-results.beer-menu-landscape .providence {
  font-size: 0.875em;
  margin-bottom: 10px; }
  #webkite-results.beer-menu-landscape .providence .city + .state::before {
    content: ", ";
    color: rgba(0, 0, 0, 0.7); }
  #webkite-results.beer-menu-landscape .providence .city + .country::before {
    content: ", "; }
  #webkite-results.beer-menu-landscape .providence .state + .country::before {
    content: ", "; }
#webkite-results.beer-menu-landscape .webkite-result {
  text-align: justify;
  position: relative; }
  #webkite-results.beer-menu-landscape .webkite-result::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    white-space: pre-line;
    margin-bottom: 20px; }
#webkite-results.beer-menu-landscape a.more-button, #webkite-results.beer-menu-landscape a.less-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.188em;
  -moz-border-radius: 0.188em;
  -ms-border-radius: 0.188em;
  -o-border-radius: 0.188em;
  border-radius: 0.188em;
  color: white;
  display: inline-block;
  float: right;
  font: 400 .75em/1 "Open Sans";
  padding: 5px 10px;
  margin-top: 20px;
  text-align: center;
  width: 4.375em; }
#webkite-results.beer-menu-landscape a.more-button {
  background: #1b9cd2; }
  #webkite-results.beer-menu-landscape a.more-button:hover {
    background: #0073a7; }
#webkite-results.beer-menu-landscape a.less-button {
  background: rgba(0, 0, 0, 0.6); }
  #webkite-results.beer-menu-landscape a.less-button:hover {
    background: rgba(0, 0, 0, 0.6); }
#webkite-results.beer-menu-landscape .webkite-result-footer {
  clear: both;
  display: block;
  padding-top: 20px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  text-align: right; }

/************************************** INLINE FILTERS */
#webkite-results.beer-menu-landscape .webkite-block li b {
  position: relative; }
  #webkite-results.beer-menu-landscape .webkite-block li b.inline-filter-button + .facet-values {
    padding-top: 5px; }
  #webkite-results.beer-menu-landscape .webkite-block li b > .webkite-toggle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0.188em;
    -moz-border-radius: 0.188em;
    -ms-border-radius: 0.188em;
    -o-border-radius: 0.188em;
    border-radius: 0.188em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: inline-block;
    font: 700 .75em/1.3 "Open Sans";
    margin: 0;
    padding: 3px 16px 3px 3px;
    margin-left: -3px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    #webkite-results.beer-menu-landscape .webkite-block li b > .webkite-toggle i {
      background: url("angle-light.png") center center no-repeat;
      position: absolute;
      height: 10px;
      margin-top: -5px;
      pointer-events: none;
      width: 10px;
      top: 50%;
      right: 3px; }
    #webkite-results.beer-menu-landscape .webkite-block li b > .webkite-toggle:hover {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: rgba(0, 0, 0, 0.05); }
#webkite-results.beer-menu-landscape .webkite-block .inline-filter-menu {
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  -ms-border-radius: 0.375em;
  -o-border-radius: 0.375em;
  border-radius: 0.375em;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  position: absolute;
  background: white;
  padding: 10px 0;
  top: 10px;
  left: 10px;
  margin: 0;
  max-height: 12.5em;
  overflow-y: auto;
  z-index: 2; }
  #webkite-results.beer-menu-landscape .webkite-block .inline-filter-menu li {
    padding-bottom: 0; }
    #webkite-results.beer-menu-landscape .webkite-block .inline-filter-menu li a {
      color: #1b9cd2;
      display: block;
      font-size: 0.875em;
      font-weight: 400;
      max-width: 100%;
      padding: 2.5px 20px 2.5px 10px;
      white-space: pre; }
      #webkite-results.beer-menu-landscape .webkite-block .inline-filter-menu li a:hover {
        background: #1b9cd2;
        color: white; }

/******************************************* NO RESULTS */
#webkite-results.beer-menu-landscape .webkite-no-results {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  #webkite-results.beer-menu-landscape .webkite-no-results h2 {
    margin-bottom: 20px; }

/************************************** ELEMENT QUERIES */
#webkite-results.beer-menu-landscape.xs .webkite-block {
  width: 100%;
  padding-right: 0; }
#webkite-results.beer-menu-landscape.xs .webkite-block ul li b, #webkite-results.beer-menu-landscape.xs .webkite-block ul li a, #webkite-results.beer-menu-landscape.xs .webkite-block ul li span {
  width: 100%; }
#webkite-results.beer-menu-landscape.xs .webkite-block ul li .webkite-toggle {
  width: auto; }
#webkite-results.beer-menu-landscape.xs .image-wrapper + .beer-info {
  width: 100%; }
#webkite-results.beer-menu-landscape.xs ul.beer-info .beer-price {
  float: none;
  display: inline-block;
  text-align: left;
  width: 100%; }
#webkite-results.beer-menu-landscape.xs .image-wrapper {
  width: 100%;
  padding-bottom: 100%; }
#webkite-results.beer-menu-landscape.xs .webkite-block .inline-filter-menu li a {
  max-width: 100%;
  width: auto; }

#webkite-results.beer-menu-landscape.sm .webkite-block {
  width: 100%; }
#webkite-results.beer-menu-landscape.sm .webkite-block ul li b, #webkite-results.beer-menu-landscape.sm .webkite-block ul li a, #webkite-results.beer-menu-landscape.sm .webkite-block ul li span {
  width: 100%; }
#webkite-results.beer-menu-landscape.sm .webkite-block ul li .webkite-toggle {
  width: auto; }
#webkite-results.beer-menu-landscape.sm .webkite-big-block {
  display: inline-block;
  vertical-align: top; }
  #webkite-results.beer-menu-landscape.sm .webkite-big-block.sixty {
    width: 59%; }
  #webkite-results.beer-menu-landscape.sm .webkite-big-block.forty {
    width: 39%; }
#webkite-results.beer-menu-landscape.sm .image-wrapper {
  padding-bottom: 39%;
  float: none; }
#webkite-results.beer-menu-landscape.sm .image-wrapper + .beer-info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px; }
#webkite-results.beer-menu-landscape.sm ul.beer-info .beer-price {
  float: none;
  display: inline-block;
  text-align: left;
  width: 100%; }

/***************************************  DISPLAY RULES */
#webkite-results.beer-menu-landscape.xs .until-xs, #webkite-results.beer-menu-landscape.xs .until-sm, #webkite-results.beer-menu-landscape.xs .sm-only, #webkite-results.beer-menu-landscape.xs .md-only, #webkite-results.beer-menu-landscape.xs .lg-only {
  display: none; }
#webkite-results.beer-menu-landscape.xs .xs-only, #webkite-results.beer-menu-landscape.xs .webkite-results-header .xs-only {
  display: inline-block; }
#webkite-results.beer-menu-landscape.xs td.xs-only, #webkite-results.beer-menu-landscape.xs th.xs-only {
  display: table-cell; }

#webkite-results.beer-menu-landscape.sm .until-sm, #webkite-results.beer-menu-landscape.sm .xs-only, #webkite-results.beer-menu-landscape.sm .md-only, #webkite-results.beer-menu-landscape.sm .lg-only {
  display: none; }
#webkite-results.beer-menu-landscape.sm .sm-only {
  display: inline-block; }
#webkite-results.beer-menu-landscape.sm td.sm-only, #webkite-results.beer-menu-landscape.sm th.sm-only {
  display: table-cell; }

#webkite-results.beer-menu-landscape .until-md, #webkite-results.beer-menu-landscape .xs-only, #webkite-results.beer-menu-landscape .sm-only, #webkite-results.beer-menu-landscape .lg-only, #webkite-results.beer-menu-landscape.md .until-md, #webkite-results.beer-menu-landscape.md .xs-only, #webkite-results.beer-menu-landscape.md .sm-only, #webkite-results.beer-menu-landscape.md .lg-only, #webkite-results.beer-menu-landscape.xl .until-md, #webkite-results.beer-menu-landscape.xl .xs-only, #webkite-results.beer-menu-landscape.xl .sm-only, #webkite-results.beer-menu-landscape.xl .lg-only {
  display: none; }
#webkite-results.beer-menu-landscape .webkite-results-header .xs-only, #webkite-results.beer-menu-landscape.md .webkite-results-header .xs-only, #webkite-results.beer-menu-landscape.xl .webkite-results-header .xs-only {
  display: none; }
#webkite-results.beer-menu-landscape .md-only, #webkite-results.beer-menu-landscape.md .md-only, #webkite-results.beer-menu-landscape.xl .md-only {
  display: inline-block; }
#webkite-results.beer-menu-landscape td.md-only, #webkite-results.beer-menu-landscape th.md-only, #webkite-results.beer-menu-landscape.md td.md-only, #webkite-results.beer-menu-landscape.md th.md-only, #webkite-results.beer-menu-landscape.xl td.md-only, #webkite-results.beer-menu-landscape.xl th.md-only {
  display: table-cell; }
#webkite-results.beer-menu-landscape th span.md-only, #webkite-results.beer-menu-landscape.md th span.md-only, #webkite-results.beer-menu-landscape.xl th span.md-only {
  line-height: 1; }

#webkite-results.beer-menu-landscape.lg .until-lg, #webkite-results.beer-menu-landscape.lg .xs-only, #webkite-results.beer-menu-landscape.lg .sm-only, #webkite-results.beer-menu-landscape.lg .md-only {
  display: none; }
#webkite-results.beer-menu-landscape.lg .lg-only {
  display: inline-block; }
#webkite-results.beer-menu-landscape.lg td.lg-only, #webkite-results.beer-menu-landscape.lg th.lg-only {
  display: table-cell; }
#webkite-results.beer-menu-landscape.lg th span.lg-only {
  line-height: 1; }
